<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/themes/minimum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/minimum/js/html5shiv.js"></script>
    <script src="/themes/minimum/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/themes/minimum/images/ico/favicon.ico">
</head><!--/head-->
<body>

    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ message }}</h2>
                <ol>
                    {% for item in features %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
                <h3>How theme, view template works</h3>
                <p>See <code>/public/themes/index.twig</code><br><br>
                In <code>/config/structure.js</code>, <code>view.path.folder</code> defines locations of view templates<br><br>
                In <code>/config/view.js</code>:
                <ul>
                    <li><code>resource.path</code> defines static resource folder</li>
                    <li><code>theme</code> selects which theme view template to apply</li>
                </ul>

            </div><!--/.col-sm-6-->
        </div>
    </section><!--/#about-us-->

    <script src="/themes/minimum/js/jquery.js"></script>
    <script src="/themes/minimum/js/bootstrap.min.js"></script>
</body>
</html>