<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Arrowjs</title>
    <link href="/themes/minimum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/minimum/js/html5shiv.js"></script>
    <script src="/themes/minimum/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/themes/minimum/images/ico/favicon.ico">
</head><!--/head-->
<body>
    {% set activemenu = "logic" %}
    {% include 'navbar.twig'%}
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>{{ title }}</h2>
                <p>Nunjucks supports if then for</p>
                <ol>
                    {% for student in students %}
                        <li><strong>{{ student.name }}</strong> studies <strong>{{ student.major }}</strong></li>
                    {% endfor %}
                </ol>
                <p>
                    Demo filer<br>
                {% filter title %}
                    every word in this text will be uppercase because of filer title
                {% endfilter %}
                </p>
                <p>
                {% raw %}
                Raw text will {{ not be processed }}
                {% endraw %}
                </p>
                <p>See <code>/public/themes/minimum/logic.twig</code></p>
            </div><!--/.col-sm-6-->
        </div>
    </section><!--/#about-us-->

    <script src="/themes/minimum/js/jquery.js"></script>
    <script src="/themes/minimum/js/bootstrap.min.js"></script>
</body>
</html>