<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/themes/min/css/tidy.css">
    <link rel="shortcut icon" href="/themes/min/images/ico/favicon.ico">
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/min/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/more">More</a></li>
                    <li class="active"><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="peter-river">This view template in sub folder of theme</h2>
            </div><!--/.col-sm-6-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                Test if grunt can parse all twig files in nested folders in <code>public\themes\minimum</code>
            </div>
        </div>
    </section><!--/#about-us-->

    <script src="/themes/min/js/jquery.js"></script>
    <script src="/themes/min/js/bootstrap.min.js"></script>
</body>
</html>