<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
    <!-- build:css /themes/minimum/css/tidy.css -->
    <link href="/themes/minimum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/minimum/js/html5shiv.js"></script>
    <script src="/themes/minimum/js/respond.min.js"></script>
    <![endif]-->
    <!-- /build -->
    <link rel="shortcut icon" href="/themes/minimum/images/ico/favicon.ico">
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/minimum/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/more">More</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="sun-flower">More</h2>
            </div><!--/.col-sm-6-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                Following grunt-tasks are needed in this example
                <pre>
"devDependencies": {
    "grunt": "^0.4.5",
    "grunt-compare-size": "~0.4.0",
    "grunt-contrib-clean": "~0.7.0",
    "grunt-contrib-copy": "~0.8.0",
    "grunt-contrib-cssmin": "~0.14.0",
    "grunt-processhtml": "~0.3.8",
    "grunt-text-replace": "^0.4.0",
    "grunt-uncss": "^0.4.4",
    "load-grunt-tasks": "~3.3.0",
    "time-grunt": "~1.2.1"
                    }
                </pre>
            </div>
        </div>
    </section><!--/#about-us-->

    <script src="/themes/minimum/js/jquery.js"></script>
    <script src="/themes/minimum/js/bootstrap.min.js"></script>
</body>
</html>