<!DOCTYPE html>
<html>
<body>

{% for item in items %}
    <h4>{{ item }}</h4><a href="/dowload/{{ item }} " download="/dowload/{{ item }}"><p>dowload</p></a><a href="/delete/{{ item }}"><p>delete</p></a>
{% endfor %}
<a href="/upload"><h4>Upload</h4></a>

</body>
</html>