<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nake</title>
</head>
<body>
<h1>Nake page without theme</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/more">More</a></li>
    <li><a href="/json">JSON</a></li>
</ul>

<p>See <code>/features/view/nake.twig</code><br><br>
    In <code>/config/structure.js</code>, <code>view.path.folder=["/public/themes/:theme","view"]</code> defines
    two folders for application to find view templates.

</p>

<img src="/images/cat.png" alt="cat">
</body>
</html>