<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/themes/minimum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/animate.css" rel="stylesheet">
    <link href="/themes/minimum/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/minimum/js/html5shiv.js"></script>
    <script src="/themes/minimum/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">  
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/minimum/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/local">Local Call</a></li>
                    <li><a href="/remote">Remote Socket</a></li>
                    <li><a href="/remoteWeb">Remote Web Service</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Demo call local vs remote service</h2>
                <p>
                    This example get RSS from <a href="http://vnexpress.net">vnexpress.net</a> by two methods:
                    <ol>
                    <li>
                        Execute module <a href="https://www.npmjs.com/package/feedparser">FeedParser</a> get RSS feed at local process
                    </li>
                    <li>
                        Call to socket server of ActionHero at 127.0.0.1:5000<br>
                        </a>
                    </li>
                    <li>
                        Call to web service of ActionHero at <a href="http://localhost:8080/api/getRSS">localhost:8080/api/getRSS</a>
                    </li>
                </ol>
                To start <a href="http://www.actionherojs.com/">ActionHero</a>, go to ActionHero, type <i>npm start</i><br>
                At ActionHero, there is an action named 'getRSS' that responses at 3 protocol:<br>
                http, web socket, socket<br>
                <a href="http://localhost:8080/api/getRSS?apiVersion=1">getRSS web protocol
                </p>

            </div><!--/.col-sm-6-->
        </div>
    </section><!--/#about-us-->

    <script src="/themes/minimum/js/jquery.js"></script>
    <script src="/themes/minimum/js/bootstrap.min.js"></script>
</body>
</html>