<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/themes/min/css/tidy.css">
    <link rel="shortcut icon" href="/themes/min/images/ico/favicon.ico">
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/min/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/more">More</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class = "turquoise">Grunt CSS</h2>
            </div><!--/.col-sm-6-->
        </div>
        <div class="row">
            <div class="col-sm-12">
                This example shows how to use Grunt to remove unused CSS, them combine and compress to single CSS file.
                <ul>
                    <li>The Grunt task <a href="https://github.com/addyosmani/grunt-uncss">grunt-uncss</a> will parse all <code>.twig</code> files in <code>public\themes\minimum</code>
                        to find all referenced CSS files then remove unused CSS.</li>
                    <li>To run, in root folder of project type <code>grunt</code></li>
                    <li>See more <a href="https://github.com/giakki/uncss">uncss</a>,
                        <a href="https://www.npmjs.com/package/grunt-processhtml">grunt-processhtml</a></li>
                </ul>
                <code>public\themes\minimum</code> structure
                <pre>
\-- minimum
    +-- css
    │   +-- bootstrap.min.css
    │   +-- font-awesome.min.css
    │   \-- main.css
    +-- fonts
    +-- images
    +-- index.twig
    +-- js
    │   +-- *.js
    +-- more.twig
    \-- sub
        \-- about.twig
</pre>
                grunt task will create <code>public\themese\min</code> folder.
                All CSS will be combined and minified to <code>public\themese\min\css\tidy.css</code>
                <pre>
\-- min
   +-- css
   │   \-- tidy.css
   +-- The rest will be same as before

                </pre>

            </div>
        </div>
    </section>

    <script src="/themes/min/js/jquery.js"></script>
    <script src="/themes/min/js/bootstrap.min.js"></script>
</body>
</html>